<ion-view view-title="최신 비디오" ng-init="init('http://sharemedia.cloudapp.net/api/public_channels/')">
    <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-title class="item-icon-right">
        최신 비디오
        <i class="icon ion-ios-refresh-empty" ng-click="refreshVideoList()"></i>
    </ion-nav-title>
    <ion-content overflow-scroll="true" has-header="true">
        <ion-list>
            <ion-item class="item-icon-right" ng-repeat="channel in publicChannels" type="item-text-wrap" href="#/tab/public-channels/{{channel.LatestCollectedMediaID}}">
                <img ng-src="{{channel.Thumbnail}}" style="width: 110px; height: 60px; float: left; margin-right: 10px;">
                <div style="margin-top: 10px; width: 94%;">
                    <h3>{{channel.Title}}</h3>
                    <p>{{channel.LatestCollectedDate}}</p>
                </div>
                <i class="icon ion-chevron-right icon-accessory"></i>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
                ng-show="canGetMoreData()"
                ng-click="getMoreData()"
                icon="ion-ios-cloud-download">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>

