<ion-view view-title="비디오 검색 필터" >
    <ion-nav-title class="item-icon-right">
        비디오 검색 필터
    </ion-nav-title>
    <ion-content>
        <ion-list>
            <label class="item item-input item-select">
                <div class="input-label">
                    Lightsaber
                </div>
                <select>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                    <option>Blue</option>
                    <option selected>Green</option>
                    <option>Red</option>
                </select>
            </label>
        </ion-list>
    </ion-content>
</ion-view>
