<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-left tabs-positive">

    <!-- Public Channels Tab -->
    <ion-tab icon-off="ion-ios-monitor-outline" icon-on="ion-ios-monitor" href="#/tab/public-channels">
        <ion-nav-view name="tab-public-channels"></ion-nav-view>
    </ion-tab>

    <!--&lt;!&ndash; latest video Tab &ndash;&gt;-->
    <!--<ion-tab icon-off="ion-film-marker" icon-on="ion-film-marker" href="#/tab/latest">-->
    <!--<ion-nav-view name="tab-latest"></ion-nav-view>-->
    <!--</ion-tab>-->

    <!--&lt;!&ndash; filter Tab &ndash;&gt;-->
    <!--<ion-tab icon-off="ion-search" icon-on="ion-search" href="#/tab/filter">-->
    <!--<ion-nav-view name="tab-filter"></ion-nav-view>-->
    <!--</ion-tab>-->

    <!--&lt;!&ndash; Chats Tab &ndash;&gt;-->
    <!--<ion-tab icon-off="ion-ios-chatboxes-outline" icon-on="ion-ios-chatboxes" href="#/tab/chats">-->
    <!--<ion-nav-view name="tab-chats"></ion-nav-view>-->
    <!--</ion-tab>-->

    <!-- Account Tab -->
    <ion-tab icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/account">
        <ion-nav-view name="tab-account"></ion-nav-view>
    </ion-tab>


</ion-tabs>
