<ion-view view-title="{{ channel.WebsiteProgram.Program.Title }}" ng-init="init('http://sharemedia.cloudapp.net/api/videos/')">
    <ion-nav-buttons side="left">
        <a class="button button-icon icon ion-ios-arrow-back" href="#/tab/public-channels"></a>
    </ion-nav-buttons>
    <ion-nav-title>
        {{ channel.WebsiteProgram.Program.Title }}
    </ion-nav-title>
    <ion-content class="list card">
        <div class="item item-icon-right" type="item-text-wrap">
            <img ng-src="{{ channel.Thumbnail }}" style="width: 110px; height: 60px; float: left; margin-right: 10px;"
                 ng-click="launch_video()">
            <div style="margin-top: 10px; width: 94%;">
                <h3>{{ channel.WebsiteProgram.Program.Title }}</h3>
                <p>{{ channel.CollectedDate }}</p>
            </div>
            <i class="icon ion-monitor" ng-click="showDevicePicker()"></i>
        </div>

        <div class="item item-body" type="item-text-wrap">
            <img ng-src="http://sharemedia.cloudapp.net/static/advertize/Swiss_watch.jpg" style="width: 150px; height: 80px; float: left; margin-right: 10px;">
            <p>
                Swiss Legend Everest Men's Chronograph Watch with Tachymeter
            </p>
            <p>
                <a href="#" class="subdued">1 Like</a>
                <a href="#" class="subdued">5 Comments</a>
            </p>
        </div>

        <div class="item tabs tabs-secondary tabs-icon-left">
            <a class="tab-item" href="#">
                <i class="icon ion-thumbsup"></i>
                Like
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-chatbox"></i>
                Comment
            </a>
            <a class="tab-item" href="#">
                <i class="icon ion-share"></i>
                Share
            </a>
        </div>

    </ion-content>
</ion-view>
