<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="{{chat.name}}">
    <ion-content class="padding">
        <img ng-src="{{chat.face}}" style="width: 64px; height: 64px"
             ng-click="launch_video('http://sjc16.ondemandkorea.com:1935/cache/_definst_/smil:glucache/variety/infinite-challenge/infinite-challenge_20150228-smil480p.smil/playlist.m3u8')">
        <!--<img ng-src="{{chat.face}}" style="width: 64px; height: 64px"-->
        <!--ng-click="launch_audio('http://sharemedia.cloudapp.net/static/music.mp3', '{{chat.face}}')">-->
        <p>
            {{chat.lastText}}
        </p>
    </ion-content>
</ion-view>
