<ion-view view-title="비디오 검색 필터" >
    <ion-nav-title class="item-icon-right">
        비디오 검색 필터
    </ion-nav-title>
    <ion-content>
        <ion-list>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
            <ion-toggle>
                Enable Friends
            </ion-toggle>
        </ion-list>
    </ion-content>
</ion-view>
