<ion-view view-title="최신 비디오" ng-init="init('http://sharemedia.cloudapp.net/api/videos/')">
    <ion-nav-title class="item-icon-right">
        Videos collected by Austin Jung
        <i class="icon ion-ios-refresh-empty" ng-click="refreshVideoList()"></i>
    </ion-nav-title>
    <ion-content overflow-scroll="true" has-header="true">
        <ion-list>
            <ion-item class="item-icon-right" ng-repeat="video in latestVideos" type="item-text-wrap" href="#/tab/latest/{{video.id}}">
                <img ng-src="{{video.Thumbnail}}" style="width: 110px; height: 60px; float: left; margin-right: 10px;"
                     ng-click="launch_video('{{video.MediaURL}}')">
                <div style="margin-top: 10px; width: 94%;">
                    <h3>{{video.WebsiteProgram.Program.Title}}</h3>
                    <p>{{video.CollectedDate}}</p>
                </div>
                <i class="icon ion-monitor" ng-click="showDevicePicker('{{video.MediaURL}}', '{{video.WebsiteProgram.Program.Title}}', '{{video.Thumbnail}}')"></i>
            </ion-item>
        </ion-list>
        <ion-infinite-scroll
                ng-show="canGetMoreData()"
                ng-click="getMoreData()"
                icon="ion-ios-cloud-download">
        </ion-infinite-scroll>
        <!--<ion-infinite-scroll-->
        <!--distance="10%"-->
        <!--ng-click="getMoreData()"-->
        <!--on-infinite="getMoreData()">-->
        <!--</ion-infinite-scroll>-->
        <!--<ion-infinite-scroll-->
        <!--ng-if="canGetMoreData()"-->
        <!--distance="10%"-->
        <!--icon="ion-loading-c"-->
        <!--on-infinite="getMoreData()">-->
        <!--</ion-infinite-scroll>-->
    </ion-content>
</ion-view>
