<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- ngCordova js -->
    <script src="lib/ngCordova/dist/ng-cordova.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
</head>
<body ng-app="mediaProjector" ng-controller="RootCtrl" class="platform-android platform-cordova platform-webview">
<!--
  The nav bar that will be updated as we navigate between views.
-->
<!--<ion-nav-bar class="bar-positive">-->
    <!--<ion-nav-back-button>-->
    <!--</ion-nav-back-button>-->
<!--</ion-nav-bar>-->
<!--
  The views will be rendered in the <ion-nav-view> directive below
  Templates are in the /templates folder (but you could also
  have templates inline in this html file if you'd like).
-->
<!--<ion-nav-view></ion-nav-view>-->

<ion-side-menus>

    <ion-side-menu-content>
        <ion-nav-bar type="bar-positive"
                     back-button-type="button-icon"
                     back-button-icon="ion-ios7-arrow-back"
                     animation="nav-title-slide-ios7"
                >
            <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i></ion-nav-back-button>
        </ion-nav-bar>
        <ion-nav-view animation="slide-left-right"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">
        <ion-header-bar class="bar bar-header bar-positive">
            <div class="title">비디오 카테고리</div>
        </ion-header-bar>
        <ion-content has-header="true">
            <ul class="list">
                <a ui-sref="tab.public-channels" class="item" ng-click="selectCategories('all')">전체</a>
                <a ui-sref="tab.public-channels" class="item" ng-click="filterByTitle()">제목 검색</a>
                <a ui-sref="tab.public-channels" class="item" ng-click="selectCategories('Categories-1')">뉴스/정치/경제</a>
                <a ui-sref="tab.public-channels" class="item" ng-click="selectCategories('Categories-2')">시사/다큐/토크</a>
                <a ui-sref="tab.public-channels" class="item" ng-click="selectCategories('Categories-3')">드라마</a>
                <a ui-sref="tab.public-channels" class="item" ng-click="selectCategories('Categories-4')">예능/오락/코미디</a>
                <a ui-sref="tab.public-channels" class="item" ng-click="selectCategories('Categories-5')">여성/어린이</a>
                <a ui-sref="tab.public-channels" class="item" ng-click="selectCategories('Categories-6')">미용/패션/인테리어</a>
                <a ui-sref="tab.public-channels" class="item" ng-click="selectCategories('Categories-7')">애완/동물</a>
                <a ui-sref="tab.public-channels" class="item" ng-click="selectCategories('Categories-8')">음악/여행</a>
                <a ui-sref="tab.public-channels" class="item" ng-click="selectCategories('Categories-9')">골프/스포츠/자동차/취미</a>
                <a ui-sref="tab.public-channels" class="item" ng-click="selectCategories('Categories-10')">음식/건강</a>
                <a ui-sref="tab.public-channels" class="item" ng-click="selectCategories('Categories-11')">종교</a>
                <a ui-sref="tab.public-channels" class="item" ng-click="selectCategories('Categories-12')">영화</a>
            </ul>
        </ion-content>
    </ion-side-menu>

</ion-side-menus>

</body>
</html>
